SUPABASE_URL=https://ammnupsqipvfeoteqprm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtbW51cHNxaXB2ZmVvdGVxcHJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyNDI2MTMsImV4cCI6MjA5NTgxODYxM30.uQeg1xOZ5A4rAAaFWvOXmceEXpWrtLQKELGrM-BBG8o
BARISTA_SECRET=mars2024secret
